/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Typography Styles
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

// Gackground Gradient
.home-callout, .navbar {
  // Gradient made at cssgradient.io
  background: rgb(1,15,17);
  background: -moz-linear-gradient(90deg, rgba(1,15,17,1) 0%, rgba(1,32,37,1) 37%, rgba(1,49,56,1) 59%, rgba(3,123,148,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(1,15,17,1) 0%, rgba(1,32,37,1) 37%, rgba(1,49,56,1) 59%, rgba(3,123,148,1) 100%);
  background: linear-gradient(90deg, rgba(1,15,17,1) 0%, rgba(1,32,37,1) 37%, rgba(1,49,56,1) 59%, rgba(3,123,148,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010f11",endColorstr="#037b94",GradientType=1);
}

// Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
    opacity: 0.65;
  }
}

// Homepage Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}